<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styling/index.css">
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/header') %>

<main class="main-container">

 
  <section class="hero">
    <div class="hero-text">
      <h1>Fresh Fruits & Vegetables</h1>
      <p>Shop the freshest produce directly from local farms to your doorstep!</p>
      <a href="/products" class="hero-btn">Shop Now</a>
    </div>
    <div class="hero-image">
      <img src="Images/landing-page-img.jpg" alt="Fresh fruits and vegetables">
    </div>
  </section>

  <!--  Products -->
  

</main>



  </body>
</html>
